{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/alelly.myshopify.com/products/edit-field/37528
{% endcomment %}
{% if product.metafields.custom_fields["pro"] != blank %}
  <div class="custom-field custom-field__pro custom-field__type--text">
    <h3 class="custom-field--title">Pro</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["pro"] }}
    </div>
  </div>
{% endif %}